@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .dropzone-active {
    @apply border-blue-600 bg-indigo-100 transition-colors;
  }

  .dark {
    .dropzone-active {
      @apply border-blue-400 bg-slate-800;
    }

    }
}
