@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .dropzone-active {
    @apply border-blue-600 bg-indigo-100 transition-colors;
  }

  .dark {
    .dropzone-active {
      @apply border-blue-400 bg-slate-800;
    }

    }
}

.pdf-maximized {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100dvw !important;
  height: 100dvh !important;
  z-index: 10 !important;
  border: 0 !important;
}
